{% extends "base.html" %}

{% from './macros/_generic.html' import view_error_messages with context %}

{% block head %}
    <title>Register</title>
{% endblock head %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{ view_error_messages(messages) }}
        {% endif %}
    {% endwith %}
    <div class="container auth-container">
        <div class="mx-auto" style="max-width: 500px">
            <h2 class="display-4 text-center">Register</h2>
            <p class="text-center">Welcome to the Project2021!</p>
            <p class="text-center">This is still a work in progress.</p>
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username(class="form-control", placeholder="Username") }}
                    <small class="form-text text-muted">Username must be at least 3 characters long.</small>
                </div>
                <div class="form-group">
                    {{ form.email(class="form-control", placeholder="Email address") }}
                </div>
                <div class="form-group">
                    {{ form.password(class="form-control", placeholder="Password") }}
                    <small class="form-text text-muted">
                        The password should have: 
                        <ul>
                            <li>
                                At least 7 characters
                            </li>
                            <li>
                                1 upper case letter (A-Z)
                            </li>
                            <li>
                                1 lower case letter (a-z)
                            </li>
                            <li>
                                1 number (0-9)
                            </li>
                            <li>
                                1 special character (!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~)
                            </li>
                        </ul>
                    </small>
                </div>
                <div class="form-group">
                    {{ form.repeat(class="form-control", placeholder="Repeat password") }}
                </div>
                <button type="submit" class="btn btn-primary" style="min-width: 100%">Register</button>
            </form>

        </div>
    </div>
{% endblock content %}