<!--Views error messages, could expand to have different colours based on their category -->
{% macro view_error_messages(messages) %}
    <div class="modal custom fade" id="alert-modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#alert-modal").modal("show");
    </script>
{% endmacro %}